<h3><%= comment.title %></h3>
  <p><%= comment.content %></p>
  <p><%= link_to "Add a Reply", new_comment_comment_path(comment) %></p>

<% if !comment.comments.empty? %>
  <p><%= render partial: "comments/comment", collection: comment.comments %></p>
<% end %>
