<h2>All Patterns</h2><br />
<div style="width:500px;height:250px;line-height:2em;overflow:scroll;padding:5px;">
  <ul>

    <% @patterns.each_with_index do |pattern, i| %>
      <%= i + 1 %>. <%= link_to pattern.name.capitalize, pattern_path(pattern.id), :id => "patt_list" %><br />
    <% end %>

  </ul>
</div>

<% if current_user %>
  <h3><%= link_to "To Make a New Pattern", new_pattern_path %></h3>
<% end %>

<% if current_user.patterns.count == 0 %>
  <h4><%= current_user.username %>, you have no projects. Click on the link above, if you would like to make a new knitting pattern.</h4>
<% end %>
