<% if current_user %>
  <h1>Welcome to Knit Patterns <%= current_user.username %>!</h1><br>
  <p><%= link_to "To Make a New Pattern", new_pattern_path %></p><br>
  <p><%= link_to "To See the Pattern List", patterns_path %></p><br />
<% else %>
  <h1>Welcome to Knit Patterns!</h1>
<% end %>
