  <% if current_user %>
  <h1>Welcome to Knit Patterns! You are signed in as <%= current_user.email %>.</h1>
  <% else %>
  <h1>Welcome to Knit Patterns!</h1>
  <% end %>
<br></br>

  <% if current_user %>
    <%= link_to "New Pattern", new_pattern_path %>
    <br></br>
    <%= link_to "Category List", categories_path %>
  <% end %>
