<% if !current_user %>
  <h1>Welcome to Knit Patterns!</h1>
    <h3>A place to digitally store and share your patterns on your computer or tablet.</h3><br />
<% else %>
  <% current_user %>
    <h1>Welcome to Knit Patterns!</h1><br>
    <h2>You're signed in as <%= current_user.email %></h2>
      <p><%= link_to "To Make a New Pattern", new_pattern_path %></p>
      <p><%= link_to "To See the Pattern List", patterns_path %></p>

    <h3>A place to digitally store and share your patterns on your computer or tablet.</h3><br />
<% end %>
