  This will be the welcome page and
  there will be a if current user erb tag here
  <h1>Welcome to Knit Patterns! You are signed in as  .</h1>
  an else erb tag here if not the current user
  <h1>Welcome to Knit Patterns!</h1>
  end erb tag
<br></br>
  Should have sign up <br></br>
              sign in via local <br></br>
              sign in via twitter or facebook
